<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%t-%tid][%-5level][%d{yyyy-MM-dd HH:mm:ss}][%c{1}] %msg%n"/>
            <!--            pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss}][%c{1}.%M()] %msg%n"/>-->
            <!--            pattern="[%-5level] [%d{yyyy-MM-dd HH:mm}] %c{1} - %msg%n"/>-->

        </Console>
      <File name="LogToFile" fileName="target/logs/app.log">
        <PatternLayout>
          <Pattern>[%t-%tid][%-5level][%d{yyyy-MM-dd HH:mm:ss}][%c{1}] %msg%n</Pattern>
        </PatternLayout>
      </File>
    </Appenders>
    <Loggers>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>
